.body-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.todo-app-div {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
}

.add-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 30px;

  width: 100%;
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
}

.add-bar-overlay {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);

  transition: all 0.3s ease;
}

.add-bar-overlay.active {
  visibility: visible;
  opacity: 1;
}

.add-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: scale(0.9);
  transition: transform 0.3s ease;

  width: 550px;

  box-sizing: border-box;
  padding: 5px 20px;
}

.add-bar-overlay.active .add-bar {
  transform: scale(1);
}

.add-button {
  background-color: rgb(41, 104, 241);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.open-modal-button {
  margin-left: auto;
  height: 55px;
  aspect-ratio: 1/1;

  border: solid;
  border-radius: 100%;
  background-color: transparent;

  cursor: pointer;
}
