.body-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.todo-app-div {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.add-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  
  box-sizing: border-box;
  padding: 10px 20px;
}

.add-button {
  background-color: rgb(41, 104, 241);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
