.todo-board {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.todo-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  box-sizing: border-box;

  border-color: lightblue;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  padding: 5px 15px;
}

.todo-name {
  flex: 2;
}

.todo-ddl-div {
  flex: 1;
  position: relative;
}

.todo-ddl-text {
  padding: 0 5px;
}

.todo-ddl-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  border: none;

  font-family: inherit;
  font-size: inherit;
}

.todo-buttons-div {
  display: flex;
  flex-direction: column;
}

.check-button,
.redo-button {
  height: 100%;
  aspect-ratio: 1/1;
  margin: 10px;
  padding: 5px 5px;

  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 100%;

  font-size: 14px;
  text-align: center;

  cursor: pointer;
}

.check-button {
  border-color: rgb(241, 41, 41);
}

.redo-button {
  border-color: rgb(65, 218, 35);
}

.todo-delete-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
}

.hidden-item {
  display: none !important;
}

.active-item {
  display: block !important;
}
